* {
  font-family: "IBM Plex Sans", sans-serif !important;
}

:root {
  --dashboardCardHeight: 416px;
  --cardTitleHeight: 46px;
}

.dashboard-card {
  padding: 24px;
  margin-bottom: 20px;
  border-width: 0;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.11);
  background-color: #fff;
  border-radius: 6px;
  border: 0.5px solid rgba(0, 0, 0, 0.05);

  .title {
    font-size: 18px;
    line-height: 22px;
    color: #151a30;
    font-weight: 600;
  }

  .content {
    max-height: calc(var(--dashboardCardHeight) - var(--cardTitleHeight));
    overflow-y: auto;
    margin-right: -12px;
    padding-right: 12px;

    /* width */
    &::-webkit-scrollbar {
      width: 4px;
      padding-left: 20px;
      margin-left: -10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba(143, 155, 179, 0.15);
      box-shadow: 0px 4px 8px rgba(62, 72, 87, 0.04);
      border-radius: 4px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #8f9bb3;
      /* ShaOne */

      box-shadow: 0px 4px 8px rgba(62, 72, 87, 0.04);
      border-radius: 4px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #6b7588;
      cursor: pointer;
    }

    .list-layout {
      display: flex;
      flex-direction: row;
      padding: 24px 0;
      border-bottom: 1px solid #edf1f7;

      .icon-avatar {
        background: rgba(6, 46, 100, 0.1);
        width: 48px;
        height: 48px;
        border: 1px solid #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-shrink: 0;

        span {
          margin: auto 0 auto 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          color: #151a30;
        }
      }

      .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;

        p,
        a,
        span {
          margin: 0;
        }

        p,
        a {
          margin-bottom: 4px;
          font-size: 16px;
          line-height: 22px;
        }

        p {
          color: #3e4857;
          a {
            font-weight: bold;
            color: #151a30;
            text-decoration: none;
          }
        }

        > span {
          display: flex;
          i {
            margin-right: 10px;
          }
          i:nth-child(2) {
            margin-left: 15px;
          }
        }

        .sub-text {
          font-size: 14px;
          line-height: 17px;
          color: #8f9bb3;
        }
      }
    }
  }
}

/*TODO: rename the css to make it more generic */
.project-planning,
.project-docs {
  .section {
    border-bottom: 1px solid #edf1f7;
    padding-bottom: 40px;
    margin-bottom: 40px;

    .section-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #151a30;
      }

      a {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #062e64;

        i {
          vertical-align: baseline;
        }
      }
    }

    .section-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #ffffff;
      border: 1px solid #edf1f7;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 10px;

      a,
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #3e4857;

        i {
          vertical-align: baseline;
          margin-right: 20px;
          color: #8f9bb3;
        }
      }

      button {
        color: #8f9bb3;
      }
    }

    .tg-date-field {
      display: inline-block;
      border: 1px solid rgba(194, 204, 217, 0.25);
      box-shadow: initial;
      box-shadow: initial;

      .rw-input {
        background-color: #fff;
        font-size: 16px;
        color: #3e4857;
      }

      .rw-select {
        background-color: #fff;
        border-left: none;
        border-right: 1px solid rgba(194, 204, 217, 0.25);
        border-top: 1px solid rgba(194, 204, 217, 0.25);
        border-bottom: 1px solid rgba(194, 204, 217, 0.25);
        width: 2.9em;

        button.rw-btn {
          color: #8f9bb3;
          width: 2.6em;
          font-size: 16px;
        }
      }
    }

    .section-item-wrapper {
      border: 1px solid #edf1f7;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 24px;

      .section-item {
        margin-bottom: 24px;

        .milestone-time {
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;

          span,
          i {
            color: #8f9bb3;
            vertical-align: middle;
          }

          button {
            margin-left: 26px;
          }
        }
      }

      .milestone-divider {
        position: relative;
        margin-left: -25px;
        margin-right: -25px;
        margin-bottom: 24px;

        .head {
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-left: 14px solid #da3451;
          border-bottom: 7px solid transparent;
          position: absolute;
          top: -6px;
        }

        .divider {
          background: #da3451;
          height: 2px;
          width: 100%;
        }

        span {
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          text-align: center;
          color: #3e4857;
          position: absolute;
          right: 0px;
          top: -12px;
          background: #f8f8f8;
          padding: 0 24px;
        }
      }
    }
  }

  .milestones {
    .btn-icon {
      height: auto;
      line-height: 1.5;
    }
  }

  .btn-icon.btn-edit {
    height: auto;
    line-height: 1.5;
  }
}
