// Variables: includes Bootstrap overrides
@import "../../scss/variables.scss";

.add-item {
    margin-left: 24px;

    .add-btn {
        > button {
            font-weight: 600;
            font-size: px-to-rem(16);
            line-height: px-to-rem(22);
            text-align: center;
            background: #da3451;
            border-color: transparent;
            box-shadow: none;
            border-bottom-right-radius: 4px !important;
            border-top-right-radius: 4px !important;
        }
    }
}

.right-nav-button {
    color: get-color("text-grey");
    background: rgba(143, 155, 179, 0.1);
    border: none;
    border-radius: 6px;
    box-shadow: none;
    line-height: px-to-rem(22);
    font-size: px-to-rem(14);
    text-align: right;

    i {
        font-size: 3px;
    }

    &:hover,
    &:visited,
    &:link,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):active:focus,
    &:focus {
        outline: 0;
        box-shadow: none;
        border: none;
        border-radius: 6px;
        color: get-color("text-grey");
        background: rgba(143, 155, 179, 0.2);
    }
}

/*override reactstrap inline styles*/
.dropdown-menu {
    transform: translate3d(0px, 54px, 0px) !important;
    left: initial !important;
    border: 1px solid #edf1f7 !important;
    box-shadow: 0px 4px 8px rgba(62, 72, 87, 0.04) !important;
    border-radius: 6px !important;
    padding: 10px !important;

    .dropdown-item {
        padding: 0;
        color: #3e4857;

        &:active {
            color: initial;
            background-color: initial;
        }

        a{
            padding: 15px;
            color: #3e4857;
            text-decoration: none;
            display: block;
            i{
                margin-right: 12px;
            }
        }
    }
}
